<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="VTigerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="VTigerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <VTigerManager.Properties.Settings>
            <setting name="VTigerUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="VTigerAppKey" serializeAs="String">
                <value>imU69FrtsqTBlAo</value>
            </setting>
        </VTigerManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VTigerManager.Properties.Settings>
            <setting name="VTigerInstanceUrl" serializeAs="String">
                <value>http://localhost:8880</value>
            </setting>
        </VTigerManager.Properties.Settings>
    </applicationSettings>
</configuration>
