<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompuMaster.Data" version="2.8.2019.514" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net462" />
</packages>